.header{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:30px;
    list-style-type: none;
    padding:0;
    margin: 30px;
    margin-bottom: 0;
  }

  header li{
    background-color: #D7BDE2;
    border: none;
    border-radius: 4px;
    padding: 5px;
  }
  
  a:link{
    text-decoration: none;
    cursor: pointer;
  }

  a:visited, a:hover, a:active {
    color: white;
  }
  li:hover{
    box-shadow: 0 0 5px lightgray;
  }