.searchResult {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.searchResult__loading{
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
    color: gray;
}

.searchResult__content {
    padding-right: 40px;
}

.searchResult__container {
    list-style: none;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid lightgray;
    cursor: pointer;
}


.searchResult__image {
    align-items: top;
    margin: 0;
    padding: 0;
}

.searchResult__info {
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.searchResult__container:hover {
    box-shadow: 0 0 5px lightgray;
}