.App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchBook{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: fit-content;
}

.wishlist{
    display: flex;
    width: 500px;
    padding-top: 18px;
    justify-content: center;
}